In [1]:
import numpy as np
import pandas as pd

In [32]:
df = pd.read_csv("./archive/iris.csv")
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [33]:
import copy
variety = df["variety"]
new_df = copy.deepcopy(df)
df = df.drop("variety", axis=1)
df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [34]:
def euclidean_distance(X, Y):
    return np.sqrt(np.sum(np.power(X - Y, 2), axis=1))

In [35]:
df = df.to_numpy()

In [36]:
d = euclidean_distance(df, df[0])
# d = euclidean_distance(data[0], data)
print(d)

[0.         0.53851648 0.50990195 0.64807407 0.14142136 0.6164414
 0.51961524 0.17320508 0.92195445 0.46904158 0.37416574 0.37416574
 0.59160798 0.99498744 0.88317609 1.1045361  0.54772256 0.1
 0.74161985 0.33166248 0.43588989 0.3        0.64807407 0.46904158
 0.59160798 0.54772256 0.31622777 0.14142136 0.14142136 0.53851648
 0.53851648 0.38729833 0.6244998  0.80622577 0.45825757 0.37416574
 0.41231056 0.24494897 0.8660254  0.14142136 0.17320508 1.34907376
 0.76811457 0.45825757 0.6164414  0.59160798 0.36055513 0.58309519
 0.3        0.2236068  4.00374824 3.61662826 4.16413256 3.09354166
 3.79209705 3.41613817 3.78549865 2.34520788 3.74966665 2.88790582
 2.70370117 3.22800248 3.14642654 3.7        2.58069758 3.62767143
 3.43511281 3.00998339 3.76828874 2.88270706 3.85356977 3.0757113
 4.04722127 3.65786823 3.41613817 3.59722115 4.04722127 4.24499706
 3.53128872 2.49399278 2.81780056 2.70185122 2.89482297 4.13521463
 3.41174442 3.51994318 3.91152144 3.6180105  3.         3.02158899
 3.31209903 3.59583092 3.00998339 2.38746728 3.15277655 3.07408523
 3.12569992 3.34514574 2.0904545  3.05777697 5.2848841  4.20832508
 5.30188646 4.69041576 5.05667875 6.09507998 3.591657   5.63648827
 5.04777179 5.63914887 4.35660418 4.51995575 4.85386444 4.19046537
 4.41701257 4.6260134  4.64542786 6.2401923  6.49846136 4.14125585
 5.12152321 4.02864742 6.21128006 4.10974452 4.96990946 5.31224999
 3.97743636 4.00749298 4.84045452 5.09705797 5.54616985 6.01414998
 4.88057374 4.16052881 4.57055795 5.78878226 4.89182992 4.60651712
 3.89615195 4.79687398 5.01996016 4.63680925 4.20832508 5.25737577
 5.13614642 4.65403051 4.27668096 4.45982062 4.65080638 4.14004831]

In [37]:
def cluster_data(solutions, solution_idx):
    solution = solutions[solution_idx]
    feature_vector_length = df.shape[1]
    cluster_centers = []
    all_clusters_dists = []
    clusters = []
    clusters_sum_dist = []
    num_cluster = int(len(solution) / feature_vector_length)
    for clust_idx in range(num_cluster):
        cluster_centers.append(solution[feature_vector_length*clust_idx:feature_vector_length*(clust_idx+1)])
        cluster_center_dists = euclidean_distance(df, cluster_centers[clust_idx])
        all_clusters_dists.append(np.array(cluster_center_dists))
    cluster_centers = np.array(cluster_centers)
    all_clusters_dists = np.array(all_clusters_dists)
    cluster_indices = np.argmin(all_clusters_dists, axis=0)
    for clust_idx in range(num_cluster):
        clusters.append(np.where(cluster_indices == clust_idx))
        if len(clusters[clust_idx]) == 0:
            clusters_sum_dist.append(0)
        else:
            clusters_sum_dist.append(np.sum(all_clusters_dists[clust_idx, clusters[clust_idx]]))
    clusters_sum_dist = np.array(clusters_sum_dist)
    return cluster_centers, all_clusters_dists, clusters, clusters_sum_dist

In [38]:
def fitness_func(solutions, solution_idx):
    _, _, _, clusters_sum_dist = cluster_data(solutions, solution_idx)
    fitness = 1.0 / (np.sum(clusters_sum_dist) + 0.00000001)
    return fitness

In [55]:
##initial population
import random
def initial_population():
    population = []
    feature_vector_length = df.shape[1]
    ##population has 100 members
    for i in range(200):
        ##default number of clusters is 3
        Chromosome = []
        for j in range(3):
            gen1 = float('%0.5f' % random.uniform(0, 8))
            gen2 = float('%0.5f' % random.uniform(2, 5))
            gen3 = float('%0.5f' % random.uniform(1, 7))
            gen4 = float('%0.5f' % random.uniform(0, 0.5))
            Chromosome.append(gen1)
            Chromosome.append(gen2)
            Chromosome.append(gen3)
            Chromosome.append(gen4)
        population.append(Chromosome)
    return population

In [56]:
##choose parents
##just solutions with fitness score more than 0.0025 are accepted
def selection(population):
    parents = []
    for i in range(len(population)):
        fit = fitness_func(population, i)
        if fit >= 0.0025:
            parents.append(population[i])
    return parents

In [57]:
def doCrossover(parents):
    index_parent1 = random.randint(0, len(parents)- 1)
    index_parent2 = random.randint(0, len(parents) - 1)
    parent1 = parents[index_parent1]
    parent2 = parents[index_parent2]
    cut = random.randint(1, 2)
    child1 = np.concatenate((parent1[0:cut * 4], parent2[cut * 4 : 12]), axis=0)
    child2 = np.concatenate((parent2[0:cut * 4], parent1[cut * 4 : 12]), axis=0)
    fit_child1 = fitness_func([child1], 0)
    fit_child2 = fitness_func([child2], 0)
    if fit_child1 >= 0.0035:
        parents.append(child1)
    if fit_child2 >= 0.0035:
        parents.append(child2)

In [58]:
def crossover(parents):
    for i in range(100):
        doCrossover(parents)

In [59]:
def doMutation(parents):
    index_parent = random.randint(0, len(parents)- 1)
    cut = random.randint(0, 2)
    feature_to_mute = random.randint(0, 3)
    parent_to_mute = parents[index_parent]
    if feature_to_mute == 0:
        new_feature_val = float('%0.5f' % random.uniform(0, 8))
    elif feature_to_mute == 1:
        new_feature_val = float('%0.5f' % random.uniform(2, 5))
    elif feature_to_mute == 2:
        new_feature_val = float('%0.5f' % random.uniform(1, 7))
    elif feature_to_mute == 3:
        new_feature_val = float('%0.5f' % random.uniform(0, 0.5))
    else:
        new_feature_val = float('%0.5f' % random.uniform(2, 5))
    parent_to_mute[cut * 4 + feature_to_mute] = new_feature_val

In [60]:
def mutation(parents):
    for i in range(20):
        doMutation(parents)

In [215]:
result = {}
population = initial_population()
parents = selection(population)
for i in range(20):
    crossover(parents)
    mutation(parents)
    fits = []
    for j in range(len(parents)):
        fit = fitness_func(parents, j)
        fits.append(fit)
    fit_max = max(fits)
    idx = fits.index(fit_max)
    cluster_centers, all_clusters_dists, clusters, clusters_sum_dist = cluster_data(parents, idx)
    result.update({fit_max: [idx, cluster_centers, all_clusters_dists, clusters, clusters_sum_dist]})
    parents = selection(parents)
    if fit_max >= 0.005:
        break

In [216]:
##after n generation, best result is:
max_key = next(iter(result))
for key in result:
    if result[key] > result[max_key]:
        max_key = key
print("best fitness score: ",max_key)
print("index of best result in parents population:"  , result[max_key][0])

best fitness score:  0.005172100467268625
index of best result in parents population: 131

In [217]:
cluster_centers = np.array(result[max_key][1])
print("cluster centers are:")
cluster_centers

cluster centers are:

array([[4.96038, 3.79724, 1.74055, 0.30334],
       [5.39326, 3.22325, 3.07341, 0.33106],
       [6.15858, 2.81109, 5.16407, 0.43996]])

In [218]:
all_clusters_dists = np.array(result[max_key][2])
print("distance of each datapoint from centroids:")
all_clusters_dists

distance of each datapoint from centroids:

array([[0.48425078, 0.87515188, 0.7932571 , 0.82738191, 0.40881147,
        0.46347904, 0.6353415 , 0.47740216, 1.11611774, 0.76746389,
        0.52083089, 0.46255251, 0.90478441, 1.23423856, 1.02418105,
        0.98871878, 0.63816363, 0.47310762, 0.74074342, 0.27816689,
        0.6028174 , 0.31009163, 0.85315346, 0.55413069, 0.46864146,
        0.81706476, 0.43412765, 0.46293933, 0.5846972 , 0.67448263,
        0.73640941, 0.64674015, 0.4982899 , 0.76161593, 0.74721672,
        0.81310443, 0.76439834, 0.44706914, 1.07442116, 0.49581934,
        0.53293228, 1.62719784, 0.93567346, 0.44461536, 0.23295669,
        0.88164552, 0.223461  , 0.78308545, 0.43970538, 0.61275674,
        3.80496423, 3.38758923, 3.9575736 , 2.93791811, 3.60185602,
        3.18581557, 3.53291676, 2.20752006, 3.55853605, 2.66968927,
        2.6101036 , 2.99989447, 3.0368462 , 3.47343934, 2.3801342 ,
        3.43333057, 3.17667512, 2.82156638, 3.62414029, 2.71842543,
        3.58326762, 2.89683738, 3.85895489, 3.44319108, 3.22825972,
        3.40577199, 3.86543488, 4.02945937, 3.30641934, 2.35826649,
        2.66823365, 2.5628595 , 2.71590147, 3.90537794, 3.14251759,
        3.24568958, 3.70172403, 3.47883814, 2.75772385, 2.84120869,
        3.09858788, 3.36354617, 2.83680433, 2.27167709, 2.94198484,
        2.83469978, 2.89729233, 3.14417125, 1.98070867, 2.84637679,
        5.00100578, 3.96788669, 5.0737143 , 4.44240552, 4.80442242,
        5.86902265, 3.3543555 , 5.41363434, 4.84027218, 5.37446935,
        4.10994949, 4.30063354, 4.62398582, 3.96642645, 4.16909305,
        4.36869967, 4.40221272, 5.97486308, 6.28851945, 3.96080734,
        4.87675269, 3.77682152, 5.99790003, 3.90136294, 4.70943275,
        5.07498757, 3.75917156, 3.76250459, 4.60329608, 4.87974905,
        5.33857292, 5.76459043, 4.64323883, 3.93788888, 4.33937033,
        5.57965634, 4.60909089, 4.35110386, 3.64919537, 4.56813209,
        4.77532814, 4.41823775, 3.96788669, 5.00285647, 4.87607268,
        4.42903091, 4.08053315, 4.22521843, 4.36722828, 3.87870762],
       [1.72628785, 1.76369605, 1.90874559, 1.77122775, 1.76467327,
        1.53265904, 1.86058264, 1.63667032, 1.9770012 , 1.66958191,
        1.64928219, 1.60353102, 1.80429702, 2.27877023, 2.07258769,
        1.98977429, 1.89941353, 1.72158582, 1.52116723, 1.70153629,
        1.39094132, 1.67142566, 2.25552826, 1.41657606, 1.33314131,
        1.54680566, 1.53674453, 1.61453886, 1.69884306, 1.63378816,
        1.59851861, 1.58482104, 1.82621131, 1.94497088, 1.65870182,
        1.91886314, 1.8028155 , 1.79970435, 2.0490402 , 1.61556112,
        1.83771373, 2.19003464, 2.03697465, 1.57305745, 1.34174727,
        1.78971052, 1.61454506, 1.85668515, 1.65190307, 1.72569457,
        2.52400114, 2.10134379, 2.64354076, 1.63131779, 2.25851981,
        1.80200825, 2.25478862, 1.19158287, 2.19773377, 1.46185627,
        1.51011713, 1.71529932, 1.64961321, 2.09580527, 1.16763596,
        2.15063566, 1.8692677 , 1.39305267, 2.25819613, 1.35659564,
        2.32297734, 1.57354242, 2.45929253, 2.01977072, 1.88716288,
        2.09965134, 2.50635268, 2.70982578, 1.96829971, 1.05450924,
        1.34474375, 1.23662029, 1.370232  , 2.52174538, 1.85781208,
        2.01115433, 2.39478094, 2.09123259, 1.44406154, 1.52705525,
        1.70725855, 2.0056001 , 1.47224446, 1.22713803, 1.58889324,
        1.4724781 , 1.5513316 , 1.78848756, 1.09806636, 1.50531118,
        3.75463683, 2.64723776, 3.7525407 , 3.07702937, 3.49312807,
        4.52609409, 2.16230242, 4.03841748, 3.43842082, 4.15581493,
        2.84918264, 2.95069343, 3.32358929, 2.66726259, 2.95502246,
        3.13823099, 3.05300471, 4.72215859, 4.9222968 , 2.54820402,
        3.6119947 , 2.51866507, 4.63008701, 2.56713532, 3.42659944,
        3.73999515, 2.44312663, 2.45836078, 3.27192172, 3.51548741,
        3.9784376 , 4.5241516 , 3.32704971, 2.54456396, 2.90072607,
        4.29043841, 3.39375717, 3.01244747, 2.35730179, 3.29053578,
        3.51950703, 3.2045667 , 2.64723776, 3.72099365, 3.64921029,
        3.18692952, 2.74200469, 2.92958354, 3.15781819, 2.56348937],
       [3.97756111, 3.98064246, 4.15539702, 3.99945376, 4.02374084,
        3.70979061, 4.11871319, 3.89513958, 4.16248872, 3.8998044 ,
        3.85338739, 3.86687605, 4.02059975, 4.48578247, 4.16095162,
        4.02019109, 4.08580498, 3.97278245, 3.63422734, 3.94252868,
        3.60272402, 3.91634503, 4.52201397, 3.65554515, 3.59225394,
        3.76007585, 3.79385218, 3.85700173, 3.93592357, 3.87799979,
        3.83267327, 3.78804229, 4.01511474, 4.0729108 , 3.89236206,
        4.15511617, 3.98709699, 4.06081253, 4.25639617, 3.86657424,
        4.0948175 , 4.23824567, 4.26994993, 3.8138055 , 3.5713141 ,
        4.00864545, 3.85469978, 4.09953978, 3.87431418, 3.97581996,
        1.41289645, 1.33199413, 1.3515141 , 1.67023004, 1.24841915,
        1.17943901, 1.34910577, 2.35402217, 1.12276461, 1.85762385,
        2.2545395 , 1.46821877, 1.43780471, 1.07162231, 1.87240497,
        1.3718908 , 1.38288552, 1.25968662, 1.39277434, 1.56279057,
        1.48336454, 1.44854492, 1.14463722, 0.89251127, 1.24598329,
        1.3175805 , 1.21068839, 1.39407402, 1.26401201, 1.82691772,
        1.70266332, 1.74924794, 1.52199027, 1.17783121, 1.4750608 ,
        1.46923258, 1.30982837, 1.26676137, 1.48983636, 1.62025688,
        1.28052738, 1.13091572, 1.4511576 , 2.32205133, 1.41189673,
        1.32403715, 1.37379051, 1.22307251, 2.51718501, 1.44302889,
        2.28069647, 1.50888779, 2.05408967, 1.43793198, 1.91164912,
        2.63268045, 1.92600373, 2.10968964, 1.62604685, 2.61278862,
        1.64488552, 1.49024104, 1.82090317, 1.66364551, 1.99363095,
        1.92035423, 1.45423945, 2.96828913, 2.98223681, 1.24466155,
        2.10901028, 1.6779727 , 2.67748097, 1.39706205, 1.8907994 ,
        1.94532629, 1.40857885, 1.39948575, 1.73325543, 1.69420848,
        2.13282169, 2.823426  , 1.82925733, 1.07140673, 1.07689478,
        2.59757124, 2.09728548, 1.45062413, 1.42936712, 1.85595484,
        2.09961815, 2.02411125, 1.50888779, 2.13635493, 2.25014541,
        1.94675689, 1.50844701, 1.60849942, 1.96569132, 1.39870096]])

In [219]:
clusters = result[max_key][3]
print("clusters are:")
clusters

clusters are:

[(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
         17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
         34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
        dtype=int64),),
 (array([53, 57, 59, 60, 64, 69, 79, 80, 81, 82, 88, 89, 93, 98],
        dtype=int64),),
 (array([ 50,  51,  52,  54,  55,  56,  58,  61,  62,  63,  65,  66,  67,
          68,  70,  71,  72,  73,  74,  75,  76,  77,  78,  83,  84,  85,
          86,  87,  90,  91,  92,  94,  95,  96,  97,  99, 100, 101, 102,
         103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115,
         116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128,
         129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141,
         142, 143, 144, 145, 146, 147, 148, 149], dtype=int64),)]

In [220]:
clusters_sum_dist = np.array(result[max_key][4])
print("sum of all distance of each datapoint from its centroid in each cluster:")
clusters_sum_dist

sum of all distance of each datapoint from its centroid in each cluster:

array([ 33.57540568,  18.62153214, 141.14810764])

In [221]:
labels_idx = [0 for i in range(150)]
race = {0: 'Setosa', 1: 'Versicolor', 2: 'Virginica'}
labels = [0 for i in range(150)]
for i in range(3):
    for elems in list(clusters[i]):
        for e in elems:
            labels_idx[e] = i
            labels[e] = race[i]
labels

['Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Virginica',
 'Virginica',
 'Virginica',
 'Versicolor',
 'Virginica',
 'Virginica',
 'Virginica',
 'Versicolor',
 'Virginica',
 'Versicolor',
 'Versicolor',
 'Virginica',
 'Virginica',
 'Virginica',
 'Versicolor',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Versicolor',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Versicolor',
 'Versicolor',
 'Versicolor',
 'Versicolor',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Versicolor',
 'Versicolor',
 'Virginica',
 'Virginica',
 'Virginica',
 'Versicolor',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Versicolor',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica',
 'Virginica']

In [222]:
df2 = new_df.assign(cluster_number=labels_idx).assign(labels=labels)
df2

,sepal.length,sepal.width,petal.length,petal.width,variety,cluster_number,labels
0,5.1,3.5,1.4,0.2,Setosa,0,Setosa
1,4.9,3.0,1.4,0.2,Setosa,0,Setosa
2,4.7,3.2,1.3,0.2,Setosa,0,Setosa
3,4.6,3.1,1.5,0.2,Setosa,0,Setosa
4,5.0,3.6,1.4,0.2,Setosa,0,Setosa
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Virginica,2,Virginica
146,6.3,2.5,5.0,1.9,Virginica,2,Virginica
147,6.5,3.0,5.2,2.0,Virginica,2,Virginica
148,6.2,3.4,5.4,2.3,Virginica,2,Virginica
149,5.9,3.0,5.1,1.8,Virginica,2,Virginica

In [223]:
##total accuracy
correct = 0
for i in range(len(df2)):
    if df2['labels'][i] == df2['variety'][i]:
        correct += 1
accuracy = correct / len(df2)
print("total accuracy: ",accuracy * 100)

total accuracy:  76.0

In [169]:
len(parents)

127